name: iOS Signer Engine

on:
  repository_dispatch:
    types: [sign_ipa]

jobs:
  sign:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Zsign
        run: |
          sudo apt-get update
          sudo apt-get install -y libz-dev libssl-dev
          git clone https://github.com/shunjizhan/zsign.git
          cd zsign && g++ *.cpp -lcrypto -lpthread -o zsign
          sudo cp zsign /usr/local/bin/

      - name: Signing Process
        run: |
          # Yeh files PHP bot bhejega
          zsign -k free_cert.p12 -p "${{ github.event.client_payload.p12_password }}" -m free_cert.mobileprovision -o signed.ipa original.ipa

      - name: Upload Signed IPA
        uses: actions/upload-artifact@v3
        with:
          name: signed-app
          path: signed.ipa
