name: iOS Signer Engine
on:
  repository_dispatch:
    types: [sign_ipa]
jobs:
  sign:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libz-dev libssl-dev openssl

      - name: Setup Zsign
        run: |
          # Zsign ko GitHub Actions ke environment mein build karna
          git clone https://github.com/shunjizhan/zsign.git
          cd zsign
          g++ *.cpp -lcrypto -lpthread -o zsign
          sudo cp zsign /usr/local/bin/zsign

      - name: Signing IPA
        run: |
          # Signing process with password
          zsign -k free_cert.p12 -p "${{ github.event.client_payload.p12_password }}" -m free_cert.mobileprovision -o signed.ipa original.ipa

      - name: Upload Signed IPA
        uses: actions/upload-artifact@v4
        with:
          name: SignedApp
          path: signed.ipa
