name: iOS Signer Engine
on:
  repository_dispatch:
    types: [sign_ipa]
jobs:
  sign:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libz-dev libssl-dev openssl

      - name: Setup Zsign (Final Fix 2026)
        run: |
          # Build karne ke bajaye binary source se setup
          git clone https://github.com/zhlynn/zsign.git
          cd zsign
          # Manual source file mapping taaki *.cpp wala error na aaye
          g++ common/*.cpp archo.cpp bundle.cpp macho.cpp openssl.cpp signing.cpp zsign.cpp -lcrypto -lpthread -I./ -o zsign
          sudo cp zsign /usr/local/bin/zsign

      - name: Signing IPA
        run: |
          # Saved password ka use
          zsign -k free_cert.p12 -p "${{ github.event.client_payload.p12_password }}" -m free_cert.mobileprovision -o signed.ipa original.ipa

      - name: Upload Signed IPA
        uses: actions/upload-artifact@v4
        with:
          name: SignedApp
          path: signed.ipa
